/*  Netflix Sans */
@font-face {
    font-family: 'Netflix Sans';
    font-weight: 700;
    src: url('../font/NetflixSans_W_Md.woff2') format('woff2');
}

/*  Netflix Sans */
@font-face {
    font-family: 'Netflix Sans';
    font-weight: 400;
    src: url('../font/NetflixSans_W_Rg.woff2') format('woff2');
}

/* icomoon font - 아이콘폰트에 모두 사용*/
/* @font-face {font-family: 'icomoon';src: url('../font/nf-icon-v1-93.woff') format('embedded-opentype'),
            url('../font/icomoon.ttf') format('truetype'),
            url('../font/icomoon.woff') format('woff');font-weight: normal;font-style: normal;} */


body{
    color: rgb(245, 245, 245);
    font-family: 'Netflix Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    -webkit-font-smoothing : antialiased;
    background-color: rgb(0, 0, 0);
}
form, input, label, button{
    font-family: 'Netflix Sans', sans-serif;
}
/* footer */
footer{
    padding: 70px 45px 0;
    max-width: 1000px;
    margin: 0 auto
}
.footer_wrap{
    min-width: 190px;
    width: 100%;
    padding-bottom: 20px;
    font-size: 1em;
    color: #757575;
    position: relative
}
.footer_menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 20px 0
}
.footer_menu ul {
    width: 20%
}
.footer_menu ul li {
    margin: 0 0 16px 0;
}
.footer_menu ul li a {
    font-size: 13px;
    color: #757575
}
.footer_menu ul li a:hover{
    text-decoration: underline
}
.contact{
    width: 100%;
    padding: 0 0 10px;
    border-bottom: 1px solid rgba(200, 200, 200, 0.4);
    font-size: 14px
}
.company_info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 10px 0
}
.site_info{
    font-size: 12px;
    width: 100%;
    line-height: 1.2;
}